# platform specific builds
build-windows/
build-linux/
build-mac/
# native builds
build/

# vscode files
.vscode/

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
